<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% seo %}
	<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
	<link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
	<!--[if lt IE 9]>
					      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
					      <![endif]-->
</head>

<body>
	<div class="wrapper">
		<header>
			<h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

			{% if site.logo %}
			<img src="{{site.logo | relative_url}}" alt="Logo" />
			{% endif %}

			<p>{{ site.description | default: site.github.project_tagline }}</p>

			{% if site.github.is_project_page %}
			<p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub
					<small>{{ site.github.repository_nwo }}</small></a></p>
			{% endif %}

			{% if site.show_downloads %}
			<ul class="downloads">
				<li><a href="https://github.com/GiorgioBertolotti/TadoJava/releases">Download <strong>JAR File</strong></a></li>
			</ul>
			{% endif %}
		</header>
		<section>
			<h2>The problem</h2>
			<p>The problem that gives origin to this project is the fact that the <a
					href="https://www.tado.com/en/">Tado</a>'s API are very poorly documented (<i class="em em-sleepy"></i>) and
				while I was trying to integrate the control of my Tado into my home automation application I wished someone had
				already developed a library to allow interfacing with the thermostat.</p>
			<h2>The solution</h2>
			<p>Unfortunately, no one had yet developed Java libraries to control Tado, so when I
				had a little more free time I decided to write this library for myself and anyone else who might have the same
				need as me. <i class="em em-muscle"></i></p>
			<h2>Getting started</h2>
			<p>
				To use TadoJava you will need:
			</p>
			<ul>
				<li>A Tado (<i class="em em-upside_down_face"></i>);</li>
				<li>A Tado account (<a href="https://my.tado.com/webapp/">You can create it here</a>);</li>
				<li>A client secret (<a href="https://my.tado.com/webapp/env.js">You can get yours here</a>).</li>
			</ul>
			<h3>Download</h3>
			<p>
				You can download the latest release of TadoJava <a
					href="https://github.com/GiorgioBertolotti/TadoJava/releases">here</a>.<br />
				After downloading the <em>.jar</em> file, you can include it in your Java project.
			</p>
			<h3>Usage</h3>
			<p>
				The <em>Example</em> folder contains an eclipse project with an example on how to use the library.<br />
				In order to start using TadoJava you can declare a <em>TadoConnector</em> object as follows:
			</p>
			<div class="language-java highlighter-rouge">
				<div class="highlight">
					<pre class="highlight">
						<code>TadoConnector connector = new TadoConnector("your@email.com", "Password123!");
//TadoConnector connector = new TadoConnector("your@email.com", "Password123!", "clientSecret");</code>
					</pre>
				</div>
			</div>
			<p>
				The TadoConnector object will take care of performing HTTP request to Tado’s API, it will also manage the
				bearer token in all the requests.<br />
				The very first thing you want to do after declaring your <em>connector</em> is initializing it. This call will
				perform the requests to retrieve the <em>clientSecret</em> key and the <em>bearer token</em>.
			</p>
			<div class="language-java highlighter-rouge">
				<div class="highlight">
					<pre class="highlight">
						<code>connector.initialize();
						</code>
					</pre>
				</div>
			</div>
			<p>Now you’re ready to go! <i class="em em-airplane_departure"></i></p>
			<h2>Notes</h2>
			<p>To build this project I followed <a
					href="https://shkspr.mobi/blog/2019/02/tado-api-guide-updated-for-2019/">this guide</a>, which perfectly
				describes Tado’s API. So I’d like to thanks <a href="https://shkspr.mobi/blog/">Terence Eden</a> for his work!
				<i class="em em-pray"></i>
			</p>
		</section>
		<footer>
			{% if site.github.is_project_page %}
			<p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</p>
			{% endif %}

			<p class="view"><a href="https://bertolotti.dev/">Visit my WebSite!</a></p>
		</footer>
	</div>
	<script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
	{% if site.google_analytics %}
	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date(); a = s.createElement(o),
				m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
		})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
		ga('create', '{{ site.google_analytics }}', 'auto');
		ga('send', 'pageview');
	</script>
	{% endif %}
</body>

</html>